@tailwind base;
@tailwind components;
@tailwind utilities;

/* 

*************COLORS****************
PRIMARY - #0E1012
WHITE - E7E7E7

***************FONT SIZES**********
48 40 24 20 16 


***************FONT-WEIGHT********* 
SEMIBOLD
REGULAR 
MEDIUM

MARGINS-

m-10 : 40px

*/

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

body {
  font-family: "Inter";
}
